* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* ======== Common ========= */
.container {
    width: 1170px;
    max-width: calc(100% );
    margin: 0 auto;
}
.heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.desc {
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.desc .lv1 {
    color: #A9B3BB;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.desc.lv2 {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.btn {
    width: 205px;
    height: 60px;
    border-radius: 30px;
    background: var(--primary-color);
    border: none;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}


/* ======== Header ========= */
.header {
    position: sticky;
    top: -28px;
    background: #10375C;
    padding: 8px 0;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.nav__list {
    display: flex;
    margin: 0 222px 0 318px;
}

.nav__list li:nth-child(1) a{
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: -42px;
    position: relative;
}

.nav__list li:nth-child(1) a::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: -10px;
    bottom: 7px;
}

.nav__list li a {
    margin: 0 21px;
}

.nav__list li a:hover,
.cta-group__log-in:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff
}

.nav__list li a,
.cta-group__log-in a{
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header__img .logo:nth-child(1) {
    margin-right: 6px;
}

.cta-group .btn {
    width: 104px;
    height: 44px;
    border-radius: 22px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.cta-group__log-in {
    margin-right: 28px;
}

/* ======== Hero ========= */
.hero {
    padding: 76px 0 110px;
    background: #10375C;
}

.hero__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .info-block {
    width: 44.2%;
}

.hero .info-block h1 {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 80px; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero .info-block .desc {
    margin: 22px 0 38px;
}

.hero .img-block {
    display: flex;
    align-items: center;
}

.hero__thumb {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.hero__thumb:first-child {
    margin-right: -6px;
    z-index: 1;
}

.hero__thumb:last-child {
    width: 210px;
    height: 410px;
}

.hero__cta-group .btn,
.hero__cta-group span {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__cta-group span {
    margin-left: 38px;
    cursor: pointer;
}

/* ======== Services ========= */
.services {
    padding: 170px 0;
}

.services__head {
    text-align: center;
}

.services__head .desc{
    margin: 0 auto;
    width: 468px;
    color: #575F66;
}

.services-body {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.services-body .img-block__thumb{
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services-body .info-block {
    width: 40.2%;
    margin: 35px 0;
}

.services-body .info-block__content {
    display: flex;
    padding: 21px 18px 20px 22px;
}

.services-body .info-block__content:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-body .info-block__thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ebcc08;
}

.small-services {
    margin-left: 19px;
}

.small-services h3 {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.385;
}

.services-body .services__btn {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 50px;
}

/* ======== Guides ========= */
.guides {
    padding: 100px 0;
    background: #F6FBFF;
}

.guides__head .desc {
    width: 468px;
    color: #575F66;
    margin-top: 18px;
}

.guides__body .media-block{
    margin-top: 70px;
}

.guides__body .media-block{
    display: flex;
    justify-content: space-between;
}

.guides .media-block__content {
    width: 338px;
    height: 370px;
    background: #FFF;
    padding: 42px;
    box-shadow: 0px 0px 0px 16px #EAF6FF;
}

.guides .media-block__content:hover {
    box-shadow: 0px 0px 0px 16px var(--primary-color);
    -webkit-box-shadow: 0px 0px 0px 16px var(--primary-color);
    -moz-box-shadow: 0px 0px 0px 16px var(--primary-color);
    margin-top: 16px;
}

.guides .media-block__content:hover a {
    color: #2E80CE;
    font-weight: 400;
}

.guides .media-block__content h3 {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.385;
}

.guides .media-block__content .desc {
    margin: 28px 0 18px;
}

/* ======== Features ========= */
.features__body {
    display: flex;
    padding: 170px 0;
}

.features__body .img-block {
    display: flex;
    width: 49%;
    position: relative;
}


.features__body .img-block__first {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.features__body .img-block__second {
    width: 332px;
    height: 370px;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 121px;
    left: 238px;
    border-radius: 6px;
}

.features__body .info-block {
    width: 41%;
    margin: 83px 0 83px 130px;
}

.features__body .info-block .desc {
    color: #575F66;
    margin-top: 18px;
}

.features__body .info-block .btn {
    color: #fff;
    font-weight: 400;
    margin-top: 38px;
}

/* ======== Members ========= */
.members__head {
    text-align: center;
}

.members__head .btn {
    color: #fff;
    font-weight: 400;
    margin-top: 38px;
}












